In [2]:
from df_edit import *
from preprocess import *
train_df = better_df(pd.read_csv('/opt/ml/dataset/train/train.csv'))
train_df = Preprocess(train_df)

In [3]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [5]:
train_df.head(5)

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
0,0,ORG,비틀즈,24,26,PER,조지 해리슨,13,18,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey Road》에 담은 노래다.,no_relation,0
1,1,ORG,민주평화당,19,23,ORG,대안신당,14,17,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으로 재탄생한다.,no_relation,0
2,2,ORG,광주FC,21,24,ORG,한국프로축구연맹,34,41,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터 관중 유치 성과와 마케팅 성과를 인정받아 ‘풀 스타디움상’과 ‘플러스 스타디움상’을 수상했다.,org:member_of,20
3,3,ORG,아성다이소,13,17,PER,박정부,22,24,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪고 있는 대구광역시에 행복박스를 전달했다고 10일 밝혔다.,org:top_members/employees,1
4,4,ORG,요미우리 자이언츠,22,30,DAT,1967,0,3,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8번으로 배정되었다.,no_relation,0

# Label 15 7 14 24 26 16 27 분석자료, 16은 오류 없음

In [88]:
train_df.query('label_num == 15 and id == [678,920,6313]' )
# subj 단어가 도시(ORG) 이며, label 7(org:place_of_headquarters) 또는 20(org:member_of) 으로 변경 되어야 함.
# change_subj_type(ORG)
# change_label_num(7 or 20)
# change_label('org:place_of_headquarters' or 'org:member_of')
# 토의 결과 유지

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
678,678,PER,야로슬라블,40,44,ORG,러시아,36,38,2010년 애드 비탐 에터넘은 유네스코 세계 문화유산에 등재 된 러시아 야로슬라블 1000주년을 축하 하는 기념행사에서 연주될 것이다.,per:origin,15
920,920,PER,슈체친,9,11,LOC,폴란드,4,6,"지금의 폴란드의 슈체친 시인 포메라니아의 슈테틴에서 태어나, 1796년 용기병 연대에 입대하였고 2년 후에 소위로 임관하였다.",per:origin,15
6313,6313,PER,노르망디,14,17,POH,프랑스,0,2,프랑스 혁명 기간 동안에 노르망디는 파리의 자코뱅에 대항하여 연방 공화국 설립을 주장했다.,per:origin,15

In [62]:
train_df.query('label_num == 15 and id == [125]' )

# label 1 'org:top_members/employees': 1
# change_subj_type(ORG)
# change_label_num(1)
# change_label('org:top_members/employees')

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
125,125,PER,소녀시대,4,7,PER,제시카,13,15,그룹 '소녀시대' 출신 제시카가 중국 매니지먼트에 20억 원대 피소를 당했다.,per:origin,15

In [67]:
train_df.query('label_num == 15 and id == [1235,4845]' )
# label 4('per:title')로 변경되어야 함.
# change_label_num(4)
# change_label('per:title')

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
1235,1235,PER,레이 카니프,0,5,ORG,미국 육군 하사,168,175,"레이 카니프(Ray Conniff, 본명(本名)(本名)은 조지프 레이먼드 카니프(Joseph Raymond Conniff), 애칭은 제이 레이(Jay Raye), 1916년 11월 6일 ~ 2002년 10월 12일)는 미국의 남성 싱어송라이터이자 트롬본 연주자 및 편곡가 겸 합창단 지휘자이며 예비역 미국 육군 하사이다.",per:origin,15
4845,4845,PER,우원식,21,23,POH,원내대표,27,30,"이날 행사에는 김승남지역위원장을 비롯 우원식(전)원내대표, 송갑석광주시당위원장, 김철우보성군수, 이승옥강진군수, 박병종(전)고흥군수, 김성(전)장흥군수와 4개지역 더불어민주당 소속 도의원 9명, 군의원 31명을 포함 당직자 및 당원 3,500여명이 참석하여 성황리에 개최됐다.",per:origin,15

In [90]:
train_df.query('label_num == 15 and id == [18305]' )
# 애매한 구석이 있지만 넘어가기로 결정.
# 토론 필요
# 토의 결과 label 6으로 변경

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
18305,18305,PER,문재인,99,101,ORG,더불어민주당,117,122,"이어 ""이번 총선은 문재인 대통령의 집권 하반기 국정운영을 뒷받침할 동력을 확보하고 2022년 대선에서 더불어민주당이 정권을 재창출 할 수 있는 교두보를 만드는 전초전이다""며 “문재인 대통령의 개혁을 완수하고 더불어민주당이 승리할 수 있는 정책과 능력이 검증받은 더불어민주당의 '좋은 후보'를 응원해주시길 바란다”고 강조했다.",per:origin,15

In [22]:
train_df.query('label_num == 15 and id == [6993, 7232, 9357, 11460, 14551]' )
# 단체이지만 PER로 type이 되어 있어 냅두는 것이 맞을 듯.
# 문제는 ORG로 태깅된 비슷한 밴드들은 7로 라벨이 부여됨.
# 일단은 내비둠.

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
6993,6993,PER,원더걸스,22,25,LOC,대한민국,10,13,"《REBOOT》는 대한민국의 음악 그룹 원더걸스의 세 번째 정규 음반으로, 2015년 8월 3일 발매 되었다.",per:origin,15
7232,7232,PER,비피 클라이로,0,6,LOC,스코틀랜드,40,44,"비피 클라이로(Biffy Clyro)는 킬마녹, 이스트에어셔에서 결성된 스코틀랜드의 록 밴드이다.",per:origin,15
9357,9357,PER,스트라토바리우스,25,32,LOC,핀란드,12,14,Dreamspace는 핀란드 파워 메탈 밴드 스트라토바리우스의 정규 3집 앨범이다.,per:origin,15
11460,11460,PER,카자키,28,30,LOC,우크라이나,16,20,"프랑스 연예인 미렌느 파머, 우크라이나 보이 밴드 카자키, 터키 가수 아즈다 페칸, 이탈리아 배우 이사벨라 로셀리니도 게이 아이콘으로 일컬어진다.",per:origin,15
14551,14551,PER,오페스,22,24,LOC,스웨덴,8,10,Orchid는 스웨덴의 헤비 메탈 밴드 오페스의 데뷔 음반으로 캔들라이트 레코드를 통해 1995년 5월 1일 유럽에 발매되었고 센추리 블랙을 통해 1999년 6월 24일 미국에 발매되었다.,per:origin,15

In [25]:
train_df.query("label_num == 7 and subj_type != 'ORG'")
# subj 단어가 도시(ORG) 이다.
# change_subj_type(ORG)

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
28891,28891,PER,키예프,26,28,LOC,우크라이나,90,94,이렇게 싹튼 우크라이나 민족주의는 19세기 초 키예프를 중심으로 제정 러시아의 지배에서로의 해방을 목적으로 하는 정치적 운동으로 발전하였는데 여기서 주요 인물은 우크라이나의 민족 시인 타라스 셰우첸코이다.,org:place_of_headquarters,7

In [69]:
train_df.query("label_num == 7 and id == 19518")
# subj type ORG -> PER로 변경하고, label을 (per:place_of_residence: 11) 로 변경해야 된다.
# change_subj_type(PER)
# change_label_num(11)
# change_label('per:place_of_residence')

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
19518,19518,ORG,전두환,22,24,LOC,연희동,48,50,자산관리공사는 최근 서울중앙지방검찰청 “전두환 미납추징금 환수특별팀”의 의뢰로 전두환 연희동 자택 공매를 진행했으나 낙찰(3월 21일) 직전 전두환씨 부인 이순자 등이 집행정지 신청을 제기하고 법원이 수용해 현재 본안 소송이 진행 중이다.,org:place_of_headquarters,7

In [84]:
train_df.query("label_num == 24 and id == [19531,29357]")
# 다리우스 3세는 박트리아에서 살해당했으며, 요기 베라는 뉴저지주에서 사망함.
# label 'per:place_of_death': 27 로 변경
# change_label_num(27)
# change_label('per:place_of_death')

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
19531,19531,PER,다리우스 3세,9,15,LOC,박트리아,41,44,페르시아 제국의 다리우스 3세가 알렉산드로스 대왕에게 패하자 그를 살해한 박트리아의 총독 베수스는 민족적 저항을 조직하려고 하였다.,per:date_of_death,24
29357,29357,PER,요기 베라,0,4,LOC,뉴저지주,47,50,요기 베라는 자신의 메이저 데뷔 일과 같은 날로 내보였던 2015년 9월 22일에는 뉴저지주 웨스트 칼드웰에 있는 고령자 집합 주택에서 자는 도중에 노환으로 자연사(별세)했다.,per:date_of_death,24

In [86]:
train_df.query("label_num == 26 and id == 13184 ")
# 카즈빈은 지역이므로 obj type LOC로 변경
# change_obj_type(LOC)

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
13184,13184,PER,이스마일 2세,0,6,PER,카즈빈,16,18,"이스마일 2세(;, 쿰 ~, 카즈빈)은 세 번째 사파비 제국의 군주이다.",per:place_of_birth,26

In [87]:
train_df.query("label_num == 27 and id == 15970")
# 카즈빈은 지역이므로 obj type LOC로 변경
# change_obj_type(LOC)

,id,subj_type,subj_word,subj_start,subj_end,obj_type,obj_word,obj_start,obj_end,sentence,label,label_num
15970,15970,PER,이스마일 2세,4,10,PER,카즈빈,15,17,"그러나 이스마일 2세는 , 카즈빈의 궁성에서 아편 중독으로 사망하였다.",per:place_of_death,27